<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Attendance</title>
    <link rel="stylesheet" href='/static/main.css' />

</head>

<body

    <div class="row">
        <div class="col s8 offset-s2">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <span class="card-title">Attendance Portal</span>
            
            <h6>
                <marquee>This is an attendance portal where we can upload picture of a class and take attendance easily.
                </marquee>
            </h6>
            <div>
                <p>Give Student's Credentials</p>
        
                <form action="">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="First name..">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Last name..">
                    <label for="roll number">Roll number</label>
                    <input type="text" id="roll_number" name="roll_number" placeholder="New Roll number.."><br>
                    <br>
                    <label for="image">Image</label>
                    <input type="file" accept="image/*" id="myFile" name="filename">
        
        
                    <input type="submit" value="Submit">
        
                </form>
            </div>
        
            </div>
            <div class="card-action">
            </div>
        </div>
        </div>
    </div>






</body>

</html>